.ct-langForm li.is-active {
  opacity: 0.2; }

.ct-searchForm .form-actions.form-group.form-wrapper {
  position: inherit; }

.ct-searchForm .ct-search-btn {
  top: 50px !important; }

span.office-hours__item-label {
  padding-right: 5px; }

.ct-address--footer span:after {
  content: ", "; }

.ct-address--footer span:last-child:after {
  content: ''; }

html.browser-mozilla .ct-header {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left; }

.headline-container-subheader {
  min-height: 500px;
  height: auto;
  padding-top: 150px;
  padding-bottom: 150px; }

body {
  margin-top: 80px; }

nav.navbar-default .tooltip {
  opacity: 1; }

nav.navbar-default .tooltip.bottom {
  margin-top: 7px; }

.ct-nextSection-scroll {
  top: 50%;
  margin-top: -30px; }

.paragraph--type--image-teaser-download .ct-section-media-item .ct-container-mini {
  padding: 40px 0; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbXBvbmVudC9fZml4ZXMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQTtFQUNFLGFBQVksRUFDYjs7QUFFRDtFQUVJLGtCQUFpQixFQUNsQjs7QUFISDtFQUtJLHFCQUFvQixFQUNyQjs7QUFHSDtFQUNFLG1CQUFrQixFQUNuQjs7QUFFRDtFQUdNLGNBQWEsRUFDZDs7QUFKTDtFQU9RLFlBQVcsRUFDWjs7QUFLUDtFQUNFLHVCQUFxQjtNQUFyQixvQkFBcUI7VUFBckIsc0JBQXFCLEVBQ3RCOztBQUVEO0VBQ0Usa0JBQWlCO0VBQ2pCLGFBQVk7RUFDWixtQkFBa0I7RUFDbEIsc0JBQXFCLEVBQ3RCOztBQUVEO0VBQ0UsaUJBQWdCLEVBQ2pCOztBQUVEO0VBRUksV0FBVSxFQUlYOztBQU5IO0VBSU0sZ0JBQWUsRUFDaEI7O0FBSUw7RUFDRSxTQUFRO0VBQ1Isa0JBQWlCLEVBQ2xCOztBQUVEO0VBR00sZ0JBQWUsRUFFaEIiLCJmaWxlIjoiZml4ZXMuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiXG4uY3QtbGFuZ0Zvcm0gbGkuaXMtYWN0aXZlIHtcbiAgb3BhY2l0eTogMC4yO1xufVxuXG4uY3Qtc2VhcmNoRm9ybSB7XG4gIC5mb3JtLWFjdGlvbnMuZm9ybS1ncm91cC5mb3JtLXdyYXBwZXIge1xuICAgIHBvc2l0aW9uOiBpbmhlcml0O1xuICB9XG4gIC5jdC1zZWFyY2gtYnRuIHtcbiAgICB0b3A6IDUwcHggIWltcG9ydGFudDtcbiAgfVxufVxuXG5zcGFuLm9mZmljZS1ob3Vyc19faXRlbS1sYWJlbCB7XG4gIHBhZGRpbmctcmlnaHQ6IDVweDtcbn1cblxuLmN0LWFkZHJlc3MtLWZvb3RlciB7XG4gIHNwYW4ge1xuICAgICY6YWZ0ZXIge1xuICAgICAgY29udGVudDogXCIsIFwiO1xuICAgIH1cbiAgICAmOmxhc3QtY2hpbGQge1xuICAgICAgJjphZnRlciB7XG4gICAgICAgIGNvbnRlbnQ6ICcnO1xuICAgICAgfVxuICAgIH1cbiAgfVxufVxuXG5odG1sLmJyb3dzZXItbW96aWxsYSAuY3QtaGVhZGVyIHtcbiAganVzdGlmeS1jb250ZW50OiBsZWZ0O1xufVxuXG4uaGVhZGxpbmUtY29udGFpbmVyLXN1YmhlYWRlciB7XG4gIG1pbi1oZWlnaHQ6IDUwMHB4O1xuICBoZWlnaHQ6IGF1dG87XG4gIHBhZGRpbmctdG9wOiAxNTBweDtcbiAgcGFkZGluZy1ib3R0b206IDE1MHB4O1xufVxuXG5ib2R5IHtcbiAgbWFyZ2luLXRvcDogODBweDtcbn1cblxubmF2Lm5hdmJhci1kZWZhdWx0IHtcbiAgLnRvb2x0aXAge1xuICAgIG9wYWNpdHk6IDE7XG4gICAgJi5ib3R0b20ge1xuICAgICAgbWFyZ2luLXRvcDogN3B4O1xuICAgIH1cbiAgfVxufVxuXG4uY3QtbmV4dFNlY3Rpb24tc2Nyb2xsIHtcbiAgdG9wOiA1MCU7XG4gIG1hcmdpbi10b3A6IC0zMHB4O1xufVxuXG4ucGFyYWdyYXBoLS10eXBlLS1pbWFnZS10ZWFzZXItZG93bmxvYWQge1xuICAuY3Qtc2VjdGlvbi1tZWRpYS1pdGVtIHtcbiAgICAuY3QtY29udGFpbmVyLW1pbmkge1xuICAgICAgcGFkZGluZzogNDBweCAwO1xuXG4gICAgfVxuICB9XG59XG4iXX0= */
