## PDB ##
tmp/*
assets/files/*
assets/tpepdb2/imported_documents/*
assets/tpepdb2/pdfs/*
.htaccess
assets/wcms/.htaccess
config/*
config_/*
assets/css/*
include/de/*
include/de_/*
include/en/*
include/en_/*
include/es/*
include/es_/*
include/fr/*
include/fr_/*
include/it/*
include/it_/*
include/jp/*
include/jp_/*
include/kr/*
include/kr_/*
include/pl/*
include/pl_/*
include/zh/*
include/zh_/*
tpepdb2_import/*
tpepdb2_import_/*






