@CHARSET "UTF-8";

/*
 
 */

body {
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: normal;
    margin: 0;
    background: #fff
}

a, a:link, a:active, a:visited, 
a:hover, a:focus {
    color: #009de0
}

img {
    border: none
}

#ncw-shell {
    position: absolute;
    top: 50%;
    left: 50%; 
    margin: -117px 0 0 -128px
}

    #ncw-logo {
        margin-bottom: 16px
    }

/*
 FORMS
 */

.ncw-form {
    
}

    .ncw-input-container {
        width: 246px;
        margin-top: 8px;
        height: 25px
    }        
        
        .ncw-label {
            float: left;
            display: block;
            width: 73px;
            padding-top: 6px;
            height: 19px;
            color: #666;
            font-weight: 700;
            font-size: 10px;
            text-align: center;
            background: #E9E9E9;
            cursor: pointer
        }
        
        .ncw-input {
            float: left;
            width: 166px;
            height: 18px;
            padding-top: 4px;
            padding-left: 4px;
            border: 1px solid #aaa;
            background: #fff;
            font-size: 12px;
            color: #000
        }
        
            .ncw-input:hover,
            .ncw-input:focus {
                border: 1px solid #009ee2
                }
        
        .ncw-input-container .error {
            float: left;
            display: block;
            height: 12px;
            width: 238px;
            padding: 5px 0 0 8px;
            color: red
        }
        
        .ncw-submit {
            width: 246px;
            height: 25px;
            padding: 0;
            margin-top: 8px;
            text-align: center;
            border: 0;
            color: #fff;
            background: #009ee2;
            font-weight: 700;
            font-size: 10px; 
            cursor: pointer
        }
        
        .ncw-hidden-submit {
            display: none
        }          